<p>
  directives works!
</p>
<button (click)="onButtonClick($event)">ClickMe</button>
<h3 *ngIf="isButtonClicked">ButtonClicked</h3>
<hr/>
<br/>
ng-template:
<h3 *ngIf="isButtonClicked;else secondp">ButtonClicked</h3>
<ng-template #secondp>
  <p>Button Not Clicked</p>
</ng-template>
<hr/>
ng-style:
<p [ngStyle]="{backgroundColor:getColor()}">This Is NgStyle Sample</p>
<p [ngStyle]="{backgroundColor:getColor()}">This Is NgStyle Sample</p>
<p [ngStyle]="{backgroundColor:getColor()}">This Is NgStyle Sample</p>
<p [ngStyle]="{backgroundColor:getColor()}">This Is NgStyle Sample</p>
<hr/>
<p [ngStyle]="{backgroundColor:'orange'}" [ngClass]="{greater:colorCode>0.5,bigFont:colorCode<=0.5}">This Is NgClass Sample</p>
<hr/>
ngFor:
<button (click)="btnAddArray($event)">AddToArray</button>
<ul>
  <li *ngFor="let hero of tests;let i=index">
    {{ hero+i }}
  </li>
</ul>