
<a class="btn btn-primary btn-sm" routerLink="/FirstComponent" routerLinkActive="active">3-FirstComponent</a>
<a class="btn btn-danger btn-sm" routerLink="/SelectorComponent" routerLinkActive="active">4-SelectorComponent</a>
<a class="btn btn-warning btn-sm" routerLink="/DataBinding" routerLinkActive="active">5-DataBinding</a>
<a class="btn btn-success btn-sm" routerLink="/Directives" routerLinkActive="active">6-Directives</a>
<a class="btn btn-primary btn-sm" routerLink="/InputOutput" routerLinkActive="active">8-InputOutputEventEmitter</a>
<a class="btn btn-warning btn-sm" routerLink="/EventEmitterWithObject" routerLinkActive="active">9-EventEmitterWithObject</a>
<a class="btn btn-secondary btn-sm" routerLink="/ViewEncapsulation" routerLinkActive="active">10-ViewEncapsulation</a>
<hr/>
<router-outlet></router-outlet>

